@import url("fonts.scss");

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, abbr, address, cite, code, del, dfn, 
em, img, ins, kbd, q, samp, small, strong, 
sub, sup, var, b, i, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, 
figure, footer, header, hgroup, menu, nav, 
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
	scroll-behavior: smooth;

	body {
	    background: #fff;
	    font-family: 'opensans-regular', sans-serif;
	    font-weight: normal;
	    font-size: 15px;
	    line-height: 30px;
	    color: #838C95;
	    -webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	    -webkit-text-size-adjust: 100%;
		scroll-behavior: smooth;
  		margin: 0px;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


html, body, #root, .app {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.app {
	text-align: center;
	position: relative;
}

section {
	overflow: hidden;
}

ul, li {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

.button {
	font-size: 16px;
	line-height: 30px;
	font-family: 'opensans-bold', sans-serif;
}

button {
	padding: 1px 7px 2px;
}

h1, h2, h3, h4, h5, h6 {
	color: #313131;
	font-family: 'opensans-bold', sans-serif;
	font-weight: normal;
}

p {
	margin: 0 0 30px 0;
}

.row {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */
header {
	position: relative;
	height: calc(100% - 48px);
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-top: 48px;
	min-height: 465px;
	display: flex;
	flex-direction: column;
	background-color: grey;
	background-image: url('/images/header-background.jpeg');
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;

	.banner {
		width: 85%;
		margin: auto;
		text-align: center;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.banner-text {
		width: 100%;
		padding-bottom: 30px;

		h1 {
			font-size: 80px;
			line-height: 1.1em;
			font-family: 'opensans-bold', sans-serif;
			color: #fff;
			letter-spacing: -2px;
			margin: 0 auto 12px auto;
			text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
		}

		h3 {
			font-size: 18px;
			line-height: 1.9em;
			font-family: 'librebaskerville-regular', serif;
			color: #B8B8B8;
			margin: 0 auto;
			width: 70%;
			text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);

			span, a {
				color: #fff;
			}
		}

		hr {
			width: 60%;
			margin: 18px auto 24px auto;
			border-color: #2F2D2E;
			border-color: rgba(150, 150, 150, .1);
		}
	}

	.social {
		margin: 24px 0;
		padding: 0;
		font-size: 30px;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
		display: flex;
		flex-direction: row;
		justify-content: center;

		li {
			margin: 0 15px;
			padding: 0;

			button {
				color: #fff;
				cursor: pointer;
			    background: transparent;
			    border: none;
			    font-size: 1em;
			    outline: none;

				&:hover {
					color: #11ABB0;
				}
			}
		}
	}

	.scrolldown {
		padding-bottom: 30px;

		a {
			margin: 0px auto;
			text-align: center;
			color: #fff;
			display: block;
			height: 42px;
			width: 42px;
			font-size: 42px;
			line-height: 42px;
			color: #fff;
			border-radius: 100%;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			&:hover {
				color: #11ABB0;
			}
		}
	}
}

.nav-wrap {
	position: fixed;
	height: 48px;
	font-size: 12px;
	font-family: 'opensans-bold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0px auto;
	z-index: 100;
	left: 0px;
	top: 0px;
	background-color: transparent; 
}

.open-nav {
	display: none;
}

.nav-wrap.opaque {
	background-color: #2B2B2B; 
}

.close-nav-wrapper, .nav-background-overlay {
	display: none;
}

ul.nav-list {
	display: flex;
    justify-content: center;
    height: 100%;

    li {
		height: 100%;

		a {
			display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 8px 13px;
		    line-height: 32px;
		    text-decoration: none;
		    text-align: center;
		    color: #fff;
		    -webkit-transition: color .2s ease-in-out;
		    -moz-transition: color .2s ease-in-out;
		    -o-transition: color .2s ease-in-out;
		    -ms-transition: color .2s ease-in-out;
		    transition: color .2s ease-in-out;
		}

		&.current a {
		    color: #F06000;
		}
	}
}

.nav-item-icon {
	display: none;
}


/* About */
.about-section {
	padding-top: 96px;
	padding-bottom: 66px;
	padding-left: 32px;
	padding-right: 32px;
	text-align: left;
	background-color: #2B2B2B;

	.content {
		display: flex;
		flex-direction: row;
		max-width: 1080px;
		margin: auto;
	}

	h2 {
	   font-size: 22px;
	   line-height: 30px;
	   font-family: 'opensans-bold', sans-serif;
	   color: #fff;
	   margin-bottom: 12px;
	}

	p {
	   line-height: 30px;
	   color: #7A7A7A;
	}

	.avatar {
		border-radius: 50%;
		height: 120px;
		margin-right: 80px;
	    margin-left: 20px;
	}

	.main {
		text-align: left;
	}

	.contact-details {
		margin-right: 32px;
		display: inline-block;
	}

	.download-button {
		background-color: #444;
		padding: 16px;
		border-radius: 3px;
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		outline: none;
		border: none;
		color: #fff;

		&:hover {
			color: #11ABB0;
		}

		.icon {
			margin-right: 16px;
		}
	}
}


/* Experience */
.experience-section {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    padding-left: 16px;
    padding-right:16px;
    overflow: hidden;
    text-align: center;

	.header {
		width: 200px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.main {
		margin-right: 16px;
		flex: 1;
		padding-right: 90px;
	}

	.experience-content {
		max-width: 1080px;
	    margin-left: auto;
	    margin-right: auto;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-start;
	    align-items: flex-start;
	    text-align: left;

	    &:not(:last-child) {
			margin-bottom: 48px;
		    padding-bottom: 24px;
		    border-bottom: 1px solid #E8E8E8;
		}
	}

	h1 {
		font-size: 18px;
		line-height: 24px;
		font-family: 'opensans-bold', sans-serif;
	    text-transform: uppercase;
	    letter-spacing: 1px;
		margin-top: 0px;
		border-bottom: 3px solid #11ABB0;
	    padding-bottom: 6px;
	    display: inline-block;
	}

	h3 {
		font-size: 25px;
		font-family: 'opensans-bold', sans-serif;
		line-height: 30px;
		margin-bottom: 12px;
		margin-top: 0px;
	}

	.info {
		font-size: 16px;
		font-family: 'librebaskerville-italic', serif;
		line-height: 24px;
		color: #6E7881;
	    margin-bottom: 18px;
	    margin-top: 9px;

	    span {
			margin: 0px 8px;
		}
	}

	.date {
	    margin-top: 6px;
	    font-size: 15px;
		font-family: 'opensans-regular', sans-serif;
		line-height: 24px;
		font-style: normal;
	}

	.education-item {
		margin-bottom: 32px;
	}

	.description {
		white-space: pre-wrap;
		line-height: 30px;
	}

	.skills {
		text-align: left;
	}

	.bars {
		li {
			margin-bottom: 30px;
			width: 47%;
		    display: inline-block;

		    &:nth-child(odd) {
				margin-right: 5%;
			}
		}

		.bar-title {
			font-size: 15px;
			font-family: 'opensans-bold', sans-serif;
			color: #313131;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: normal;
			font-style: normal;
			margin-bottom: 8px;
			white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		}

		.bar-expand {
			border-radius: 3px;
			overflow: hidden;
			height: 24px;
			background-color: #ccc;

			.bar-inner {
				height: 100%;
				background-color: #313131;
			}
		}
	}
}


/* Contact */
.contact-section {
	text-align: left;
	padding-top: 96px;
    padding-bottom: 102px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #191919;
    color: #636363;

	.section-head {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 42px;

		h1 {
			display: none;
			font-size: 18px;
			line-height: 24px;
			font-family: 'opensans-bold', sans-serif;
		    text-transform: uppercase;
		    letter-spacing: 3px;
		    color: #EBEEEE;
		}

		.header-icon {
			margin-right: 60px;
			color: #fff;
		}
	}

	.contact-description {
		flex: 1;
	}

	.main-content {
		display: flex;
		flex-direction: row;
	}

	.contact-form {
		flex: 1;
	    margin-right: 64px;
	}

	h4 {
	    font-size: 16px;
	    line-height: 24px;
	    font-family: 'opensans-bold', sans-serif;
	    color: #EBEEEE;
	    margin-bottom: 6px;
	}

	.input-row {
	    display: flex;
	    flex-direction: row;
	    margin-bottom: 18px;

	    &.error .contact-input:not(:focus) {
			background-color: #883f3f;
			border-bottom: 5px solid #D72828;
		}
	}

	label {
		font-size: 15px;
		font-family: 'opensans-bold', sans-serif;
		color: #EBEEEE;
		width: 25%;
		min-width: 100px;
	    line-height: 42px;
		display: block;
	}

	span.required {
		color: #11ABB0;
	    font-size: 13px;
	}

	.contact-input {
		width: 75%;
	    border: none;
	    color: #eee;
	    background-color: #373233;
	    padding: 18px 20px;
	    outline: none;
	    font-family: 'opensans-regular', sans-serif;
	    font-size: 15px;
	    line-height: 24px;
	    box-sizing: border-box;

	    &:not(textarea) {
		    height: 51px;
		}
	}

	input:focus, textarea:focus, select:focus {
	    color: #fff;
	    background-color: #11ABB0;
	}

	.submit-row {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-start;
		padding-left: 25%;

		&.sending {
			align-items: center;

			// button looks disabled whilst sending is in progress
			button.submit {
				opacity: 0.5;
			}

			// show loading spinner whilst sending is in progress
			.loading-spinner {
				display: flex;
			}
		}

		.loading-spinner {
			display: none;
		}

		.message-error {
			color: #D72828;
		}

		.message-success {
			color: #11ABB0;
		}

		// error message should not be displayed whilst sending is in progress
		&:not(.sending).error .message-error {
			display: flex;
		}

		// success message should not be displayed whilst sending is in progress or error is present
		&:not(.sending):not(.error).success .message-success {
			display: flex;
		}
	}

	button.submit {
		position: relative;
		margin-left: 18px;
		outline: none;
		background-color: #444;
		padding: 16px;
		border-radius: 3px;
		cursor: pointer;
		color: #fff;
		border: none;
		text-transform: uppercase;
	    letter-spacing: 3px;
	    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    -o-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
		
		&:hover, &:focus {
			color: #444;
			background-color: #fff;
		}
	}

	.status-message {
		display: none;
		font-family: 'opensans-bold', sans-serif;
	    padding-left: 16px;
	    line-height: 25px;
	    flex: 1;

	    svg {
		    margin-right: 16px;
		    margin-top: 5px;
		}
	}
}



/* Footer */
footer {
	padding-top: 18px;
	color: #7A7A7A;
	background-color: #303030;
	position: relative;
	text-align: left;

	a.go-to-top {
	    display: flex;
	    margin: auto;
	    width: 60px;
	    height: 60px;
	    background-color: #525252;
	    border-radius: 50%;
	    justify-content: center;
	    align-items: center;
	    position: absolute;
	    top: -30px;
	    left: 0px;
	    right: 0px;
	    color: #fff;
		cursor: pointer;

	    svg {
			margin-bottom: 3px;
		}

		&:visited, &:hover, &:focus {
			color: #fff;
		}

		&:hover, &:focus {
		    background-color: #11ABB0;
		}
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 18px 30px;
		overflow: hidden;
	}

	.social-links {
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    margin: 0px;
	    padding: 0px;
	    font-size: 30px;

	    li:not(:first-child) {
			margin-left: 42px;
		}

	    button {
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 1em;
			cursor: pointer;
			color: #fff;

			&:hover {
			    color: #11ABB0;
			}
		}
	}
}