/* Screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

   /* Header Section
   ----------------------------------------------------------------------- */
   header {
      .banner {
         padding-bottom: 12px;
      }

      .banner-text {
         h1 {
            font-size: 78px;
            line-height: 1.1em;
            letter-spacing: -1px;      
         }

         h3 {
            font-size: 17px;
            line-height: 1.9em;
            width: 80%;
         }

         hr {
            width: 65%;
            margin: 12px auto;
         }
      }

      /* nav-wrap */
      .nav-wrap {
         font-size: 11px;
         letter-spacing: 1.5px;
      }
   }

}

/* Mobile wide/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

   /* Header Section
   ----------------------------------------------------------------------- */
   header {
      .banner {
         padding-bottom: 12px;
         padding-top: 6px;
      }

      .banner-text {
         h1 { 
            font-size: 68px;
            line-height: 1.1em; 
         }

         h3 {
            font-size: 16px;
            line-height: 1.9em;
            width: 85%;
         }

         hr {
            width: 80%;
            margin: 18px auto;
         }
      }

      /* header social links */
      .social {
         margin: 18px 0 24px 0;
         line-height: 36px;      
      }
   }



   /* About Section
   ----------------------------------------------------------------------- */
   .about-section {
      padding-top: 72px;

      .content {
         text-align: center;
         display: block;
      }

      .avatar {
         margin: auto;
         margin-bottom: 24px;
         height: 160px;
         width: 160px;
      }
   }


   /* Experience Section
   ----------------------------------------------------------------------- */
   .experience-section {
      .experience-content {
         display: block;
         text-align: center;
      }

      .header {
         margin: auto;
         width: auto;
         margin-bottom: 32px;
         font-size: 16px;
         letter-spacing: 3px;
      }

      .main {
         margin: auto;
         padding: 0px;
      }
   }

   /* Contact Section
   ----------------------------------------------------------------------- */
   .contact-section {
      padding-bottom: 66px;
      
      .section-head {
         margin-bottom: 12px;
         display: block;
         text-align: center;

         h1 {
            font-size: 16px;
            line-height: 24px;
            text-align: center;   
            margin-bottom: 30px;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
            display: block;
         }

         .header-icon {
            display: none;
         }

         i {
            display: none;
         }

         p.lead {
            text-align: center;
         }
      }

      .main-content {
         display: block;
      }

      .input-row, h1 span {
         display: block;
      }

      aside {
         margin-top: 36px
      }

      /* form */
      .contact-form {
         margin: auto;
      }

      .input-row {
         margin-bottom: 8px;
      }

      label {
         margin: 0px;
         width: 100%;
         padding-top: 0px;
      }

      input.contact-input
      {
         margin: 0px;
      }

      .contact-input {
         width: 100%;
      }

      .submit-row {
         padding-left: 0px;
      }

      button.submit {
         margin-right: 0px;
      }
   }
}

/* Mobile Navigation
-------------------------------------------------------------------- */
@media only screen and (max-width: 580px) {

   /* Header Section
   ----------------------------------------------------------------------- */
   .nav-wrap {
      height: 54px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
      color: #fff;

      .open-nav {
         display: block;
         padding: 16px;
         cursor: pointer;

         &:hover {
            color: #F06000;
         }
      }

      &.open {
         .nav-background-overlay {
            display: block;
         }

         ul.nav-list {
            left: 0px;
         }
      }
   }

   .nav-background-overlay {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      opacity: 0.5;
   }

   ul.nav-list {
      display: block;
      position: fixed;
      background-color: #333;
      top: 0px;
      left: -300px;
      bottom: 0px;
      width: 50%;
      max-width: 300px;
      transition: left linear 0.15s;

      .close-nav-wrapper {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         height: 54px;
         margin-bottom: 16px;
         background-color: #2B2B2B;

         .close-nav {
            padding: 16px;
            cursor: pointer;

            &:hover {
               color: #F06000;
            }
         }
      }

      li {
         height: auto;

         a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 16px 36px;
         }

         .nav-item-icon {
            display: block;
            margin-right: 18px;
         }
      }
   }
}




/* Mobile Narrow
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

   /* Header Section
   ----------------------------------------------------------------------- */
   header {
      .banner {
         padding-top: 24px;
      }

      .banner-text {
         h1 {
            font-size: 40px;
            line-height: 1.1em;      
            margin: 0 auto 24px auto;
         }

         h3 {
            font-size: 14px;
            line-height: 1.9em;
            width: 90%;
         }
      }
   }

  
   /* About Section
   ----------------------------------------------------------------------- */
   .about-section .avatar {
      height: 120px;
      width: 120px;
   }


   /* Footer Section
   ----------------------------------------------------------------------- */
   footer .social-links li:not(:first-child) {
      margin-left: 24px;
   }

}

@media only screen and (max-width: 382px) {

   /* Contact Section
   ----------------------------------------------------------------------- */
   .contact-section {
      .submit-row {
         flex-direction: column;
         align-items: flex-end;
      }

      .status-message {
         width: 100%;
         margin-bottom: 16px;
      }
   }
}